body{
    background-color: rgb(125, 165, 113);
    font-family: monospace;
    font-size: 20px;
    padding: 70px;
    border: 10px double white
}

.branco{
    background-color: white;
    margin-top: 100px;
    position: sticky;
    top: 0;
    z-index: 2;
    

}

.tbranco{
    background-color: white;
    margin-top: 100px;
    display: inline-block;
}

.bgbranco{
    background-color: white;
    max-width:400px;
    text-indent: 30px;
    margin-bottom: 30px;
}

.st{
    background-color: white;
    max-width: 200px;
}

h1{
    margin-bottom: 100px;
    text-align: center;
    letter-spacing: 9px;
    word-spacing: 15px;
}

p{
    text-indent: 50px;
}

.p1{
    text-align: right;
    max-width: 400px;
    line-height: 1.2;
    position: relative;
    border: 10px solid white;
}
